
<div class="page-header">
  <h1>donors <small>....</small></h1>
</div>

<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "Find donor(s)", '/donor_search', :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Add a donor", '/create_new_donor', :class => 'buttons' %>
  </p>
</div> 
