<%#= javascript_include_tag "bootstrap-datepicker" %>
<%#= stylesheet_link_tag "datepicker" %>

<style>
  .content-details { text-align: center; }

  .asset-details { width: 100%; }

</style>
<script>
  tt_cancel_destination = '/assets'
</script>

<p></p>

<section id='modals'>
  <div class="content-details">
    <%= form_tag :action => 'create', :method => :post  do %>

    <table class="asset-details">
      <tbody>
        <tr>
          <td align="right" style="padding-right:2em;">Name</td>
          <td align="left"><%=text_field(:donor, :name, :placeholder => "Name",
          :helpText => "Name") %>
          </td>
        </tr>
        <tr>
          <td align="right" style="padding-right:2em;">Abbreviation</td>
          <td align="left"><%=text_field(:donor, :abv, :placeholder => "Abbreviation",
          :helpText => "Abbreviation") %>
          </td>
        </tr>
        <tr>
          <td align="right" style="padding-right:2em;">Description</td>
          <td align="left"><%=text_area_tag("donor[description]", nil, :placeholder => "Description",
          :helpText => "Description", :size => "40") %>
          </td>
        </tr>
      </tbody>
    </table>

          <%end%>
        </div>
      </section>
