<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>Manufacturers <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find manufacturer(s)", '/manufacturers_search', :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a manufacturer", '/create_new_manufacturer', :class => 'btn btn-primary btn-large buttons' %>
  </p>
</section> 
