
<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "Find manufacturer(s)", '/manufacturers_search', :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a manufacturer", '/create_new_manufacturer', :class => 'buttons' %>
  </p>
</div> 
