<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>summary</title>

    <style>
      .summary-table {
        width: 100%;
      }
      
      .summary-table th, td {
        text-align: right;
        border-style: solid;
        border-width: 1px;
        padding-right: 10px;
      }

      .summary-table .numbers {
        text-align: right;
        padding-right: 10px;
      }

      .container {
        width: 99%; 
        margin: 0 auto;
      }
    </style>
	</head>
	<body>
    <div id="container">
      <table class="summary-table">
        <tr>
          <th>Asset name</td>
          <th class='numbers'>Current quantity</td>
        </tr>
        <%(@data || []).each do |name , quantity|%>
          <tr>
            <td><%=name%></td>
            <td class='numbers'><%=quantity%></td>
          </tr>
        <%end%>
      </table>
    </div>
	</body>
</html>
