
<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "Find project(s)", '/projects_search', :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Create a project", '/create_new_project', :class => 'buttons' %>
  </p>
</div> 
