<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>projects <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find project(s)", '/projects_search', :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Create a project", '/create_new_project', :class => 'btn btn-primary btn-large buttons' %>
  </p>
</section> 
