<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>fleet management <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find vehicle(s)", '/items_bought_in', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register vehicle", '/dispatched_assets' , 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Vehicle mileage entry", '/dispatched_assets' , 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Vehicle mileage report", '/dispatched_assets' , 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
