
<div class="page-header">
  <h1>suppliers <small>....</small></h1>
</div>

<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "Find supplier(s)", '/supplier_search', :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register a supplier", '/create_new_supplier', :class => 'buttons' %>
  </p>
</div> 
