
<script>
  var tt_cancel_destination="/"

   function approvedBySuggestions() {                                    
    url = "/assets/find_by_approved_by?search_str=";                          
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);          
    listSuggestions(tstCurrentPage);                                            
  }



</script>


<form method = "get" action = "init_dispatch">
  <%= text_field_tag "dispatch[date]", nil,                            
    {:id => "start_date",                                                   
    :field_type => 'date',
    :maxDate => "#{Date.today.to_date}",
    :helpText => "Dispatch date"} %>

  <%= select_tag "dispatch[site]", options_for_select(@sites), :helpText => "Dispatching to" %> 

  <%#=text_field(:dispatch, :approved_by ,:helpText => "Approved By") %>
  <%=text_field(:dispatch, :approved_by,
        :tt_onLoad => 'approvedBySuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '',:helpText => "Approved By") %>
   
   <%#=text_field(:dispatch, :received_by ,:helpText => "Received By") %>   
   <%=text_field(:dispatch, :received_by,
        :tt_onLoad => 'approvedBySuggestions();',
        :allowFreeText => true ,
        :ajaxURL => '',:helpText => "Received By") %>
</form>
