<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>dispatch/receive <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Dispatch assets", '/donor_search', :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Receive assets", '/donor_search', :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Transfer assets between donors", '/create_new_donor', :class => 'btn btn-primary btn-large buttons' %>
  </p>
  
  <p>                                                                           
    <%= link_to "Transfer assets between projects", '/create_new_donor', :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
