
<div class="page-header">
  <h1>dispatch/receive <small>....</small></h1>
</div>

<div class='menu-buttons'>                                              
  <p>                                                                           
    <%= link_to "Dispatch assets", assets_to_url(:id => 'dispatch'), :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Receive assets", assets_to_url(:id => 'receive') , :class => 'buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Transfer assets between donors and projects", '/transfer_assets_search', 
      :class => 'buttons' %>
  </p>
  
  <p>                                                                           
    <%= link_to "Reimburse asset(s)", '/borrowed_assets', 
      :class => 'buttons' %>
  </p>
  
</div> 
