<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>dispatch/receive <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Dispatch assets", assets_to_url(:id => 'dispatch'), :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Receive assets", assets_to_url(:id => 'receive') , :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Transfer assets between donors and projects", '/create_new_donor', :class => 'btn btn-primary btn-large buttons' %>
  </p>
  
</section> 
