<style>
.menu-buttons{
  width: 400px ! important;
  align: center ! important;
}
</style>
<div class='menu-buttons'>
  <p>
    <%= link_to "Add Location", '/add_location', :class => 'buttons' %>
  </p>
  <p>
    <%= link_to "Location Barcode", '/print_location',  :class => 'buttons' %>

  </p>
</div>
